:root{
    --cor_destaque: rgb(233, 218, 10);
}

body{ 
    background-color: rgb(34, 34, 34);
    color:white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    background-color: var(--cor_destaque);
    border-radius: 10px;
    transition: 30ms all;
}

a:nth-child(4){
    margin-right: 40px;
}

#inscreva-se-btn{
    border: 2px solid var(--cor_destaque);
    border-radius: 15px;
    padding: 5px;
}
#inscreva-se-btn:hover{
    background-color: var(--cor_destaque);

}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium; 
}

h2:nth-child(1){
    color: var(--cor_destaque);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 560px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: var(--cor_destaque);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(87, 3, 135);
    transition: 1.1ms;
}


input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
